.mainContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.30);
    border-radius: 30px;
    margin-top: 5vh;
    padding: 3%;
    width: 80vw;
}

@media only screen and (max-width: 720px) {
    .mainContainer {
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 100%;
    }
}