.logo {
    width: 90%;
    height: 90%;
    margin-left: 4vw;
}

.logo img {
    height: 90%;
    transition: transform .7s ease-in-out;
}

.logo img:hover {
    transform: rotate(360deg);
}

@media only screen and (max-width: 720px) {
    .logo {
        width: 60%;
        height: 60%;
    }
}