header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    align-items: center;
    margin: 2%;
    border-radius: 75px;
    overflow: hidden;
    width: 95%;
}