.container {
    margin-right: 5rem;
    background: #fff;
    height: 2rem;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 1.8s;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition: 1s;
    transition: 1s;
}

.container:hover .input {
    transition: 1s;
    width: 21vw;
}

.container .input {
    background: transparent;
    border: none;
    outline: none;
    width: 20vw;
    font-weight: 500;
    font-size: 16px;
    transition: 1.1s;
    text-align: center;
    font-size: large;
}

.container .btn .fas {
    color: #aa00ff;
}