@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
.App {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}