.userProfile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 7vw;
}

.userProfile img {
    width: 8vh;
    height: 8vh;
    padding: 1.5rem;
}

.userProfile img:hover {
    transform: scale(1.2);
    cursor: pointer;
}