.userProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10vw;
  margin-right: 1.5rem;
  text-align: center;
}

.userProfile img {
  transition: 1s;
  width: 7vh;
  height: 7vh;
  padding: 0.5rem 1.5rem 0.2rem 1.5rem;
}

.userProfile img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.hellouser {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  direction: rtl;
  color: aliceblue;
  display: block;
}
